@font-face {
    font-family: "Rosario";
    src: url('../fonts/Rosario-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DMSans-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DMSans-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DMSans-Bold.woff') format('woff');
    font-weight: 700;
}