//Это переменные для шрифтов и цвета в файле var.scss, их подставляете вместо названия шрифтов
.footer-container {
  max-width: 315px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
  margin: auto;
  @media screen and (min-width: 768px) {
    max-width: 763px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1020px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1275px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 10px;
  }
}

.footer-text {
  width: 100%;
  @media screen and (min-width: 1280px) {
    width: 30%;
  }
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  @media screen and (min-width: 1280px) {
    justify-content: left;
  }
}

.paragraf {
  text-align: center;
  font-family: $fontfDM;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  max-width: 637px;
  color: $colorgrey;
  margin: auto;
  @media screen and (min-width: 1280px) {
    text-align: left;
    font-size: 18px;
  }
}

.extra-inf {
  padding: 15px 25px;
  @media screen and (min-width: 1280px) {
  }

  &__title {
    font-family: $fontfRos;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.8;
    color: $colorbl;
    text-align: center;
    @media screen and (min-width: 1280x) {
      line-height: 4.2;
      text-align: left;
      margin: 30px auto;
    }
    @media screen and (min-width: 1280x) {
      line-height: 3.5;
    }
  }

  &__title_center {
    list-style-type: none;
    text-align: center;
  }

  &__menu {
    list-style-type: none;
    text-align: center;
    @media screen and (min-width: 1280px) {
      text-align: left;
    }
  }

  &__item {
    font-family: $fontfDM;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
    color: $colorbl;
    @media screen and (min-width: 1280px) {
      line-height: 2.8;
    }
  }

  &__item_center {
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
  }
}
