$desktop-xxl:2560px;
$desktop: 1024px;
$mobile:768px;

@mixin mobile {
    @media screen and (max-width:#{$mobile - 1}) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width:$mobile) and  (max-width:#{$desktop - 1})  {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:$desktop) and  (max-width:#{$desktop-xxl - 1}) {
        @content;
    }
}

@mixin desktop-xxl {
    @media screen and (min-width:$desktop-xxl) {
        @content;
    }
}

$base-font-size: 16px;
$base-line-height:24px;

html {
    /* font-size: clamp(1rem, 0.6111rem + 1.9444vw, 6.6875rem); */
    font-size: 16px;
    line-height: $base-line-height;
}

@mixin large-text {
    font: {
        family: $fontfRos;
        weight: 700;
    }
    color: $colorbl;
    margin: 1rem 0;

    @include mobile {
        font-size: 2rem;
        line-height: 3rem;
    }

    @include tablet {
        font-size: 2rem;
        line-height: 2.75rem;
    }

    @include desktop {
        /* font-size: 3rem;
        line-height: 3.65rem; */
        font-size: 4.375rem;
        line-height: 5.625rem;
    }

    @include desktop-xxl {
        font-size: 4.375rem;
        line-height: 5.625rem;
    }
}

@mixin medium-text {
    font-family: $fontfDM;
    color: #555555;

    @include mobile {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    @include tablet {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    @include desktop {
        /* font-size: 0.75rem;
        line-height: 1.4rem; */
        font-size: 1.125rem;
        line-height: 1.875rem;
    }

    @include desktop-xxl {
        font-size: 1.625rem;
        line-height: 2.275rem;
    }
}

@mixin service {
  max-width: 500px;
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

@mixin service-circle {
  max-width: 80px;
  max-height: 80px;
  padding: 20px;
  border-radius: 50%;
}

@mixin big-circle {
  max-width: 280px;
  max-height: 280px;
  padding: 70px;
  border-radius: 50%;
}
