.organic{
    position: relative;
    padding-bottom: 30px;
    background: $bkcolfon;
    @media screen and (min-width: 768px){
        padding-bottom: 0;
    }
    @media screen and (min-width: 5000px){
        padding-bottom: 100px;
    }
    
    .organic__container{ 
        max-width: 90%;
        padding: 0 10px;
        margin: auto;
        @media screen and (min-width: 1280px){
            max-width: 1275px;
        }
        @media screen and (min-width: 5000px){
            max-width: 80%;
        }

        .organic__h1{
            position: relative;
            z-index: 20;
            padding: 60px 0 20px;
            font-family: $fontfRos;
            font-weight: 700;
            font-size: 40px;
            line-height: 1.3;
            color: $colorbl;
            text-align: center;
            text-transform: capitalize;
            @media screen and (min-width: 768px){
                font-size: 50px;
            }
            @media screen and (min-width: 1024px){
                font-size: 60px;
            }
            @media screen and (min-width: 1280px){
                padding: 93px 0 20px;
                font-size: 70px;
            }
            @media screen and (min-width: 5000px){
                padding: 279px 0 60px;
                font-size: 268px;
            }
        }

        .organic__img{
            position: absolute;
            top: -20px;
            left: -15px;
            @media screen and (min-width: 768px){
                top: -34px;
                left: 96px;
            }
            @media screen and (min-width: 5000px){
                top: -41px;
                left: 423px;
            }
            img{
                width: 250px;
                @media screen and (min-width: 1024px){
                    width: 100%;
                }
                @media screen and (min-width: 5000px){
                    width: 1500px;
                }
            }
        }

        .organic__text{
            position: relative;
            z-index: 20;
            padding: 0 20px 40px;
            font-family: $fontfDM;
            font-weight: 400;
            font-size: 15px;
            line-height: 1.78;
            text-align: center;
            color: #555555;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            @media screen and (min-width: 768px){
                padding: 0 100px 40px;
            }
            @media screen and (min-width: 1280px){
                padding: 0 300px 40px;
                font-size: 18px;
            }
            @media screen and (min-width: 5000px){
                padding: 0 1000px 150px;
                font-size: 70px;
            }
        }

        .organic__button{
            display: flex;
            column-gap: 20px;
            justify-content: center;
            align-items: center;
            @media screen and (min-width: 5000px){
                column-gap: 60px;
            }

            .text{
                font-family: $fontfDM;
                font-weight: 500;
                font-size: 15px;
                line-height: 1.7;
                text-align: center;
                color: $colorbl;
                @media screen and (min-width: 768px){
                    font-size: 18px;
                }
                @media screen and (min-width: 5000px){
                    font-size: 70px;
                }
            }

            .circle{
                position: relative;
                width: 44px;
                height: 44px;
                background: $bkcolbut;
                border-radius: 50%;
                @media screen and (min-width: 768px){
                    width: 64px;
                    height: 64px;
                }
                @media screen and (min-width: 5000px){
                    width: 132px;
                    height: 132px;
                }

                .arrow{
                    position: absolute;
                    top: 15px;
                    right: 6px;
                    @media screen and (min-width: 768px){
                        top: 23px;
                        right: 15px;
                    }
                    @media screen and (min-width: 5000px){
                        width: 60px;
                        top: 38%;
                        left: 28%;
                    }
                }
            }

            .circle:hover{
                background:#6cb399;
                box-shadow: inset 0 0 0 3px $bkcolbut;
            }
        }
    }

        .organic__pic{
            position: relative;
            display: block;
            align-items: center;
            @media screen and (min-width: 768px){
                top: -30px;
                display: flex;
                justify-content: space-between;
            }
            img{
                @media screen and (min-width: 5000px){
                    width: 3000px;
                }
            }
        }
}

.statistics-all{
    display: grid;
    justify-content: center;
    .statistics{
        display: flex;
        align-items: center;
        column-gap: 24px;
        justify-content: center;
        width: 250px;
        height: 116px;
        margin-bottom: 30px;
        background-color: white;
        @media screen and (min-width: 5000px){
            column-gap: 72px;
            width: 750px;
            height: 348px;
            margin-bottom: 90px;
        }
        
        .statistics__img{
            position: relative;
            width: 56px;
            height: 56px;
            background-color: $bkcolfon;
            border-radius: 50%;
            @media screen and (min-width: 5000px){
                width: 168px;
                height: 168px;
            }

            .img{
                position: absolute;
                top: 10px;
                right: 10px;
                @media screen and (min-width: 5000px){
                    width: 70px;
                    top: 30%;
                    left: 29%;
                }
            }
        }
        .statistics__name{
            font-family: $fontfDM;
            font-weight: 400;
            font-size: 30px;
            line-height: 1;
            text-align: center;
            color: #000000;
            @media screen and (min-width: 768px){
                font-size: 48px;
            }
            @media screen and (min-width: 5000px){
                font-size: 144px;
            }
        }
        .statistics__text{
            font-family: $fontfDM;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.7;
            text-align: center;
            color: #000000;
            @media screen and (min-width: 5000px){
                font-size: 54px;
            }
        }
    }
}
