.organic{
    position: relative;
    background: $bkcolfon;
    
    .organic__container{ 
        max-width: 1255px;
        margin: auto;

        &__h1{
            padding: 93px 0 20px;
            font-family: $fontfRos;
            font-weight: 700;
            font-size: 70px;
            line-height: 1.3;
            color: $colorbl;
            text-align: center;
            text-transform: capitalize;
        }

        &__img{
            position: absolute;
            top: -34px;
            left: 96px;
        }

        &__text{
            padding: 40px 0;
            font-family: $fontfDM;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #555555;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &__button{
            display: flex;
            column-gap: 20px;
            justify-content: center;
            align-items: center;

            .text{
                font-family: $fontfDM;
                font-weight: 500;
                font-size: 18px;
                line-height: 1.7;
                text-align: center;
                color: $colorbl;
            }

            .circle{
                position: relative;
                width: 64px;
                height: 64px;
                background: $bkcolbut;
                border-radius: 50%;

            .arrow{
                position: absolute;
                top: 23px;
                right: 15px;
            }
            }

            .circle:hover{
                background:#6cb399;
                box-shadow: inset 0 0 0 3px $bkcolbut;
            }
        }
    }

        .organic__container__pic{
            position: relative;
            top: -30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            }
}

.statistics-all{

    .statistics{
        display: flex;
        align-items: center;
        column-gap: 24px;
        justify-content: center;
        width: 250px;
        height: 116px;
        margin-bottom: 30px;
        background-color: white;
        
        .statistics__img{
            position: relative;
            width: 56px;
            height: 56px;
            background-color: $bkcolfon;
            border-radius: 50%;

            .img{
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
        .statistics__name{
            font-family: $fontfDM;
            font-weight: 400;
            font-size: 48px;
            line-height: 1;
            text-align: center;
            color: #000000;
        }
        .statistics__text{
            font-family: $fontfDM;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.7;
            text-align: center;
            color: #000000;
        }
    }
}
