//Это переменные для шрифтов, их подставляете вместо названия шрифтов
$fontfDM: "DM Sans", sans-serif;
$fontfRos: "Rosario", sans-serif;

//Это переменные для цвета, их подставляете вместо названия шрифтов
$bkcolfon: #F3FBF8;
$bkcolbut: #09A66D;
$colorbl: #222222;
$colorwh: #FFFFFF;
$colorgrey: #555555;