.reviews-section {
    display: grid;
    grid-template:1fr auto/5fr 4fr;
    padding: 0 4.375rem;
    column-gap: 6rem;

    @include mobile {
        grid-template: 1fr auto auto/1fr;
        padding: 0 1.5rem;
    }

    @include tablet {
        column-gap: 1rem;
    }

    @include desktop {
        margin-top: 4.75rem;
    }
    @include desktop-xxl {
        max-width: 80%;
        padding: 80px 10px;
        margin: 0 auto;
    }
}

.review-text {

    & p {
        @include large-text;
    }

    & span {
        @include medium-text;
        padding-right: 2rem;
        display: inline-block;
    }

    @include mobile {
        margin: 0;

        & span {
            padding: 0;
        }
    }

    @include tablet {
        margin-right: 1rem;
    }
}

.review-data {
    grid-area:2/1/3/2;
    display: grid;
    grid-template-columns:1fr 1fr;
    padding: 1.75em 0;
}


.review-data-user span{
    font-family: $fontfDM;
    font-size: 1.35rem;
    line-height: 2rem;

    @include mobile {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    @include desktop-xxl {
        font-size: 2.75rem;
        line-height: 4.55rem;
    }
    color: $colorbl;
}

.stars {
    display: flex;
    padding: 0.5em 0;

    & img {
        width: 1.55rem;

        @include desktop {
            width: 1rem;
        }

        @include desktop-xxl {
            width: 3.55rem;
        }
    }

    & img:not(:first-of-type) {
        margin-left: 0.25rem;

        @include desktop {
            margin-left: 0.5rem;
        }
    }
}

.review-data-control {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    & div:nth-child(2){
        margin: 0 0.75rem;

        @include desktop-xxl {
            margin: 0 1.5rem;
        }
    }

    @include mobile {
        margin-left: 1rem;
    }
}

.arrow-round {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;

    &:hover {
        background: $bkcolbut;
        cursor: pointer;
    }
    @include mobile {
        width: 3rem;
        height: 3rem;
        align-self:center;
    }

    @include desktop-xxl {
        width: 5rem;
        height: 5rem;
    }

    & img {
        width: 0.5rem;

        @include desktop-xxl {
            width: 1rem;
        }
    }
}

.arrow-right img {
    transform: rotateY(180deg);
}

.review-users {
    grid-area: 1/2/3/3;
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;

    @include mobile {
        grid-area: 3/1/4/2;
        justify-self: center;
        max-width: 500px;
    }

    @include tablet {
        justify-self: center;
        max-width: 500px;
    }
}

.review-user-photo {
    margin-top: 4rem;
    background: $bkcolfon;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;

    @include desktop {
        & img {
            max-height: 18rem;
        }
    }
}

.review-other-users {
    position: absolute;
    display: inline-block;
    bottom: 3%;
    left: -2%;
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    padding: 0.5em 1rem;
    background-color: white;
    box-shadow: -15px 15px 25px 0px #00603C0A;
    border-radius: 12px;

    & .stars {
        padding: 0.5em 0;

        & img {
            width: 0.75em;

            @include desktop-xxl {
                width: 2.5rem;
            }
        }
        & img:not(:first-child) {
            margin-left: 0.25rem;
        }
    }

    & .users {
        display: flex;

        & img {
            width: 1.5em;
            height: 1.5em;

            @include desktop-xxl {
                width: 2.75rem;
                height: 2.75rem;
            }
        }

        & img:not(:first-of-type) {
            margin-left: -10px;
        }
    }
}

/* Секция по мобильному приложению */

.mobile-app-section {
    display: grid;
    grid-template-columns: 3fr 7fr;
    align-items: center;
    column-gap: 1rem;
    padding: 0 100px;
    margin: 120px 0;

    @include mobile {
        grid-template: 1fr 500px/1fr;
        margin: 75px 0;
        padding: 0 25px;
    }

    @include tablet {
        grid-template: 1fr /300px 1fr;
        margin-top: 75px;
        padding: 0 25px;
    }

    @include desktop-xxl {
        max-width: 80%;
        padding: 80px 10px;
        margin: 150px auto 0 auto;
    }
}

.iphone-photo {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    & img {
        position: relative;
        grid-area: 1/1/2/2;
        height: 22rem;
    }

    & img:nth-child(2) {
        z-index: -1;
        left:-10%;
        height: 20rem;
    }

    @include mobile {
        display: grid;
        justify-content: center;
        max-height: 500px;
        grid-area: 2/1/3/2;
        margin-top: 30px;

        & img {
            grid-area: 1/1/2/2;
            position: relative;
            max-height: 470px;
        }

        & img:nth-child(2){
            left:-25px;
        }
    }

    @include tablet {
        & img {
            max-height: 440px;
        }

        & img:nth-child(2){
            max-height: 360px;
        }
    }

    @include desktop-xxl {
        & img {
            height: 33rem;
        }

        & img:nth-child(2) {
            height: 30rem;
        }
    }
}

.btn-download {
    display: inline-block !important;
    font-size: 0.8rem;
    padding: 0.75em 1.25em;
    background: #F3FBF8;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $fontfDM;
    color: #333333;
    cursor: pointer;

    @include desktop-xxl {
        font-size: 1.8rem;
    }
}

.mobile-description {
    padding: 0 4rem;

    @include mobile {
        grid-area: 1/1/2/2;
        padding: 0;
    }

    @include tablet {
        align-self: center;
        grid-area: 1/2/2/3;
    }
}

.mobile-app-text {
    & p {
        @include large-text;
    }

    & span {
        @include medium-text;
        display: block;
        padding-right: 3rem;
    }

    @include mobile {
        & span {
            padding: 0;
        }
    }
}

.mobile-app-stores {
    display: flex;
    margin-top: 1rem;

    @include desktop-xxl {
        margin-top: 4rem;
    }

    & img {
        width: 5rem;

        @include desktop-xxl {
            width: 10rem;
        }
    }

    img:nth-of-type(2) {
        margin-left: 1rem;
    }
}