//переменные для шрифтов и цвета в файле var.scss, их подставляете вместо названия шрифтов
.main-text {
  max-width: 670px;
}

.main-text__h2 {
  font-family: $fontfRos;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;

  color: $colorbl;
}

.main-text__p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  max-width: 637px;
}

.main-text__p,
.text__p {
  font-family: $fontfDM;
  color: $colorgrey;
}

.text__h6 {
  font-family: $fontfDM;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  padding-bottom: 8px;

  color: $colorbl;
}

.why {
  max-width: 1255px;
  margin: auto;
}

.why__section {
  margin-top: 141px;

  display: flex;
}

.section__container {
  max-width: 670px;
}

.services__component,
.services__component_color {
  max-width: 500px;

  display: flex;
  justify-content: center;

  column-gap: 24px;
}
.services {
  padding-top: 56px;

  display: grid;
}

.services__component_color {
  padding: 40px 59px;
  margin: 60px 0;
}

.component__circle,
.component__circle_color {
  max-width: 80px;
  max-height: 80px;
  padding: 20px;

  border-radius: 50%;
}

.component__circle {
  background-color: $colorwh;
}

.component__circle_color,
.services__component_color {
  background-color: $bkcolfon;
}

.circle__img {
  max-width: 40px;
  max-height: 40px;
}

.services__text {
  max-width: 278px;

  flex-direction: column;
}

.why__arrow-green {
  padding-top: 50px;
  padding-bottom: 146px;
}

.why__img-man,
.why__img-line {
  max-width: 100%;
}
