.reviews-section {
    display: grid;
    grid-template:1fr 1fr/2fr 1fr;
    padding: 0 6em;

}

.review-text span {
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 90px;
    color: #222222;
}

.review-text p {
    font-family: 'DM Sans';
    font-size: 18px;
    line-height: 30px;
    color: #555555;
    margin-top: 2em;
}

.review-data {
    grid-area:2/1/3/2;
    display: grid;
    grid-template-columns:1fr 1fr;
    padding: 2em 0;
}


.review-data-user span{
    font-family: 'DM Sans';
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.stars {
    display: flex;
    padding: 1.5em 0;
}
.review-data-control {

}